SPRING_PROFILES_ACTIVE=test
SERVER_PORT=8081

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=lebanon_platform_test
DATABASE_USERNAME=lebanon_user
DATABASE_PASSWORD=change_me

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=test_access_secret_change_me_min_32_chars
JWT_REFRESH_SECRET=test_refresh_secret_change_me_min_32_chars
JWT_ACCESS_EXPIRATION_MINUTES=5
JWT_REFRESH_EXPIRATION_DAYS=1

ADMIN_SEED_ENABLED=false
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000
